/* Estilos universais */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos da navbar */
nav {
    background-color: #222222;
    border-bottom: 5px #fbac59 solid;
}
/* Estilos dos itens da navbar */
nav li  { 
    display: inline-block;
}
/* Estilos dos links dos itens da navbar */
nav li a { 
    display: inline-block;
    color: #dedadc;
    text-decoration: none;
    padding: 15px;
}
/* Estilos ao passar o mouse */
nav li a:hover {
    background-color: #080808;
}
/* Estilos dos menus dropdown */
.dropdown-menu{
    position: absolute;
    background-color: #222222;
    display: none;
}
/* Estilos dos links dos menus dropdown */
.dropdown-menu a {
    display: block;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.help {
    padding-left: 685px;
}
.user {
    padding-right: 0px;
    margin-right: 0px;
}