/* Estilos universais */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos da navbar */
nav {
    background-color: #222222;
    border-bottom: 5px #fbac59 solid;
}
/* Estilos dos itens da navbar */
nav li  { 
    display: inline-block;
    position: relative;
}
/* Estilos dos links dos itens da navbar */
nav li a { 
    display: inline-block;
    color: #dedadc;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.2s ease;
}
/* Estilos ao passar o mouse nos links dos itens */
nav li a:hover {
    background-color: #080808;
}
/* Estilos dos menus dropdown */
.dropdown-menu {
    position: absolute;
    background-color: #222222;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
/* Estilos dos links dos menus dropdown */
.dropdown-menu a {
    display: block;
    transition: background-color 0.2s ease;
}
/* Estilos dos menus dropdown ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
/* Estilos do espaço na navbar */
.space {
    pointer-events: none;
}
/* Ajuste da largura do .space para telas maiores que 1540px */
@media (min-width: 1541px) {
    .space {
        width: 890px;
    }
}
/* Ajuste da largura do .space para telas menores que 1540px e maiores que 1530px */
@media (min-width: 1530px) and (max-width: 1540px) {
    .space {
        width: 690px;
    }
}
/* Ajuste da largura do .space para telas menores que 1370px */
@media (max-width: 1529px) {
    .space {
            width: 490px;
    }
}
/* Estilos para marcar o botão da pagina que voce está */
body.home #home,
body.cadastro1 #cadastro1,
body.cadastro2 #cadastro2,
body.pagamento1 #pagamento1,
body.pagamento2 #pagamento2,
body.top10 #top10,
body.oracao #oracao,
body.config #config,
body.ajuda1 #ajuda1,
body.ajuda2 #ajuda2,
body.user1 #user1,
body.user2 #user2 {
    background-color: #080808;
}
/* Estilos somente para os menus cadastros, pagamentos e user */
.menu-cadastro, .menu-pagamento, .menu-user {
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center;
}
/* Estilos somente para o menu ajuda */
.menu-ajuda {
    left: 0;
    top: 100%;
    width: 170%;
    text-align: left;
}
/* Estilos do paragrafo das paginas da navbar */
.pag-navbar {
    background-color: #fbac59; /* Fundo de cor vibrante */
    color: #222222; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    font-size: 1.1em; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centralização do texto */
    margin: 20px; /* Espaçamento externo */
    border: 2px solid #222222; /* Borda */
}