/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
}
/* Estilos da navbar */
nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    border-bottom: 5px #fbac59 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
/* Estilos dos itens da navbar */
nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    position: relative;
}
/* Estilos dos links dos itens da navbar */
nav li a {
    color: #dedadc;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.2s ease;
    display: block;
}
/* Estilos ao passar o mouse nos links dos itens */
nav li a:hover {
    background-color: #080808;
}
/* Estilos dos menus dropdown */
.dropdown-menu {
    position: absolute;
    background-color: #222222;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
/* Estilos dos links dos menus dropdown */
.dropdown-menu a {
    display: block;
    transition: background-color 0.2s ease;
    padding: 15px;
    padding-top: 15px 0px;
    color: #dedadc;
    text-align: center;
}
/* Estilos dos menus dropdown ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
/* Estilos para marcar o botão da página que você está */
body.home #home,
body.cadastro1 #cadastro1,
body.cadastro2 #cadastro2,
body.pagamento1 #pagamento1,
body.pagamento2 #pagamento2,
body.top10 #top10,
body.oracao #oracao,
body.config #config,
body.ajuda1 #ajuda1,
body.ajuda2 #ajuda2,
body.user1 #user1,
body.user2 #user2 {
    background-color: #080808;
}
/* Estilos somente para os menus cadastros, pagamentos e user */
.menu-cadastro, .menu-pagamento, .menu-user {
    width: 100%;
    text-align: center;
}
/* Estilos somente para o menu ajuda */
.menu-ajuda {
    width: 170%;
    text-align: center;
}
/* Estilos do parágrafo das páginas da navbar */
.pag-navbar {
    background-color: #fbac59;
    color: #222222;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    border: 2px solid #222222;
}
/* Estilos para o nome da página da navbar */
.pag-nome {
    color: #fbac59;
    background-color: #222222;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
}
main {
    font-family: Arial, Helvetica, sans-serif;
}