/* Estilos universais */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos da navbar */
nav {
    background-color: #222222;
}
/* Estilos dos itens da navbar */
nav li  { 
    display: inline-block;
}
/* Estilos dos links dos itens da navbar */
nav li a { 
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;

}
/* Estilos ao passar o mouse */
nav li a:hover {
    background-color: #080808;
}
/* Estiloa dos menus dropdown */
.dropdown-menu{
    position: absolute;
}
/* Estilos dos links dos menus dropdown */
.dropdown-menu a {
    display: block;
    background-color: #222222;
}

/* cor da linha laranja da nav bar #fbac59 */