/* Estilos gerais */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos da navbar */
nav {
    background-color: rgb(40, 38, 38);
}
/* Estilos dos itens da navbar */
nav li  {
    display: inline-block;
}
/* Estilos dos links dos itens da navbar */
nav li a {
    color: white;
    
}